# Ignore the Go modules and build directories
/vendor
/bin
/pkg

# Ignore test files
*.test

# Ignore local IDE files
.vscode
.idea

atd.json
script-outputs.sh
script.sh
test.txt
only-redis-compose.yaml